[Unit]
Description=web-host offline service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=node /var/web-host/scripts/offline.js

[Install]
WantedBy=multi-user.target